body{
  
  background-color: #ededc1;
  background-size: 70px 70px;
  background-repeat: repeat-y;
  background-position: right top;
  padding: 15px 95px 15px 15px;
  background-image: url(hatterkocka.png);
  
}
#cimkep{
  float:left;  
}

h1{
  margin: 40px 0px 100px 175px;
  color:#443502;
}
h2{
  color:#443502;
}
p{
  text-align: justify;
  color:#443502;
}


.jobbra{
  text-align: right;
}

.erdekesseg{
  font-size: 70%;
  padding: 7px;
  font-weight: normal;
}

